{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 5%", "last 5 versions", "not ie <= 8", "safari >= 7"]
      },
      "modules": false,
      "loose": true
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime", "syntax-dynamic-import"]
}
