<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_922576_o84uw4hpj5j.css">
  <link rel="stylesheet" href="https://cnstatic01.e.vhall.com/3rdlibs/element-ui/2.0.10/index.css">
</head>

<body>
  <div id="root"></div>
  <% if(process.env.BUILD_ENV!='prod') { %>
  <script src="https://cnstatic01.e.vhall.com/3rdlibs/vue/2.5.16/vue.js"></script>
  <% } else { %>
  <script src="https://cnstatic01.e.vhall.com/3rdlibs/vue/2.5.16/vue.runtime.min.js"></script>
  <% } %>
  <script src="https://cnstatic01.e.vhall.com/3rdlibs/element-ui/2.0.10/index.js"></script>
</body>
</html>
