@font-face {
  font-family: 'iconfont';
  /* project id 789594 */
  src: url('//at.alicdn.com/t/font_789594_d2hu6xjmxg.eot');
  src: url('//at.alicdn.com/t/font_789594_d2hu6xjmxg.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_789594_d2hu6xjmxg.woff') format('woff'), url('//at.alicdn.com/t/font_789594_d2hu6xjmxg.ttf') format('truetype'), url('//at.alicdn.com/t/font_789594_d2hu6xjmxg.svg#iconfont') format('svg');
}
