// 页面整理的宽度 是 1200 还是自适应
$site-width: 80%;

// 常用颜色
$color-default: #FFD021;
$color-blue: #4B5AFE;
$color-red: #FC5659;
$color-gray: #888;
$color-fff: #fff;
$color-error: #FC5659;
$color-success: #43D2C2;

// 常用hover颜色
$color-default-hover: #FDD43F;
$color-blue-hover: #5D6AFE;
$color-red-hover: #FC6769;

// 常用active颜色
$color-default-active: #EEC11A;
$color-blue-active: #4350E4;
$color-red-active: #E24D4F;

// 颜色定义规范
$color-bg: #fff;
$color-bg-sub: #f6f6f6;
$color-bd: #e2e2e2;
$color-bg-btn: $color-default;

// 字体颜色
$color-font: #222;
$color-font-sub: #555;
$color-font-hover: $color-default;
$color-font-time: #555;
$color-font-icon: #555;

// 普通屏幕字体大小
$fz-st: 10px;
$fz-sr: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-lr: 22px;
$fz-lt: 36px;


